hr{
    height: 2px;
}
.aw-hr-short{
    width: 180px;
    height: 3px;
    background-color: #dc3545;
    margin-top:0px;
    margin-left: 0px;

}
.aw-wrapper{
    padding: 0 20%;
}
.aw-hr-long{
    height: 3px;
    background-color: #dc3545;
}
#menu-banner{
    height:500px;
    background: url("../img/promo/katie-smith-104748-cropped.jpg")no-repeat;
    background-size: cover;
    background-position: center;
}
.aw-banner-text{
    background-color: rgba(0, 0, 0, 0.3);
    height: 500px;
}
.aw-border{
    border-top:2px solid #fff;
    border-bottom:2px solid #fff;
    padding:64px;
    font-size: 60px;
    margin: 24px;
}
.aw-row-override{
    margin-left: -5px;
    margin-right: -5px;
}

.row.aw-height > [class*='col-'] {
    display: flex;
}


@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1140px;
    }
}

@media(max-width:992px){
    .aw-row-override{
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media(max-width:768px){
    #menu-banner{
        height: 400px;
    }
    .aw-banner-text{
        height: 400px;
    }
}
@media(max-width:576px){
    .aw-wrapper{
        padding: 0%;
    }
    #menu-banner{
        height: 300px;
    }
    .aw-banner-text{
        height: 300px;
    }
    .aw-border{
        padding:24px;
        font-size: 32px;       
    }
}